<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">{{ site.firm }}</h3> -->
                </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-2 col-lg-8 text-center">
                <p>Solar Surveying, LLC is a professional consulting surveying firm established in
2018 in Houston, Texas.</p>
                <p>Our firm offers land surveying services for projects in
the areas of public or private entities involving infrastructure, real estate, right-
of-way mapping, land development, transportation, drainage, utilities and
construction projects. Our mission is to provide the highest quality surveying
services and deliver products to all clients that meet or exceed the legal
technical aspects and specification requirements. Utilizing state of the art
equipment and software enables us to efficiently and accurately complete very
complex projects with more accuracy and less delays.
                </p>
              </div>
            </div>
        </div>
    </section>
