<!-- Certifications Section -->
<section id="certifications" class="bg-light-gray">

        <div class="container">
    
            <div class="row section-header certifications-header flex-center">
                <div class="text-center">
                    <h2 class="section-heading">Certifications</h2>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Texas Board of Professional Land Surveying, Firm No. 10194442</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Texas Registered Professional Land Surveyors, TX Reg. No. 6095</h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">HUB Certificate, VID No. 1831465645700</h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Port of Houston Small Business Enterprise</h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">City of Houston Minority Business Enterprise (MBE) Certificate No. 21-02-14876</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Metro Rail Safety Course</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Osha Workers Safety Cards (16 Hours)</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">Union Pacific Rail Road Safety Class Card</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="service-heading">TxDOT Survey Certified Categories</h4>
                    <ul class="list-centered">
                        <li>15.1.1 RIGHT OF WAY SURVEYS</li>
                        <li>15.2.1 DESIGN SURVEYS</li>
                        <li>15.2.2 CONSTRUCTION SURVEYs</li>
                        <li>15.3.5 HORIZONTAL AND VERTICAL CONTROL</li>
                        </<ul>
                </div>
            </div>
        </div>
    
    
    </section>