  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>

                <div class="col-md-6 col-md-offset-2">
                    <ul class="list-inline quicklinks">
                        <li>{{site.address}}</li> •
                        <li><a href="tel:1-832-781-4697">(832) 781-4697</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
